# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/company/logos/*

# Virtual environments
venv/
venvvenv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Logs
*.log
